/*******************************************/
/* Program: [Program Name]				   */
/* Filename: style.css					   */
/* Developer: Hunter A. McCabe			   */
/* Date last modified: [YYYY.MM.DD]		   */
/*******************************************/
.container {
  position: relative;
  top: 0; right: 0; bottom: 0; left: 0;
  height: 40px;
  margin: auto;
  text-align: center;
}

/** Switch
 -------------------------------------*/

.switch input {
  position: absolute;
  opacity: 0;
}

/**
 * 1. Adjust this to size
 */

.switch {
  display: inline-block;
  font-size: 20px; /* 1 */
  height: 1em;
  width: 2em;
  background: #BDB9A6;
  border-radius: 1em;
}

.switch div {
  height: 1em;
  width: 1em;
  border-radius: 1em;
  background: #FFF;
  box-shadow: 0 0.1em 0.3em rgba(0,0,0,0.3);
  -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
          transition: all 300ms;
}

.switch input:checked + div {
  -webkit-transform: translate3d(100%, 0, 0);
     -moz-transform: translate3d(100%, 0, 0);
          transform: translate3d(100%, 0, 0);
}
#clickercontainer
{
	width: 150px;
	margin: 0 auto;
}
#money::before
{
	content: "$";
}
#money
{
	text-align: center;
	font-size: 4em;
	font-weight: 600;
	user-select: none;
}
#clicker:active
{
	transform: scale(1.1);
	user-select: none;
	fill: #D9D114;
}
#clicker
{
	/*position: absolute;
	left: 53%;
	margin-top: -50px;
	margin-left: -100px;*/
	margin: auto;
	cursor: pointer;
	user-select: none;
	fill: #f2e917;
	border: 5px solid black;
	border-radius: 50%;
}
#upgrade
{
	user-select: none;
	cursor: pointer;
}
#upgrade:active
{
	transform: scale(1.1);
	user-select: none;
	fill: #0f0;
}
#upgrademps
{
	user-select: none;
	cursor: pointer;
}
#upgrademps:active
{
	transform: scale(1.1);
	user-select: none;
	fill: #0f0;
}
#mpc
{
	user-select: none;
}
#mpc_upgrade_cost
{
	user-select: none;
}
#mpc::before
{
	content: "Money Per Click: ";
	user-select: none;
}
#mpc_upgrade_cost::before
{
	content: "Price To Upgrade Money Per Click: ";
	user-select: none;
}
#mps
{
	user-select: none;
}
#mps_upgrade_cost
{
	user-select: none;
}
#mps::before
{
	content: "Money Per Second: ";
	user-select: none;
}
#mps_upgrade_cost::before
{
	content: "Price To Upgrade Money Per Second: ";
	user-select: none;
}
#amnt
{
	position: fixed;
	margin: 0;
	padding: 0;
}
#company
{
	float: right;
	text-align: right;
}
#buycomp
{
	font-weight: 600;
	user-select: none;
	cursor: pointer;
	text-align: right;
}
#companylvl::before
{
	content: "Company Level: ";
	user-select: none;
}
#companyprice::before
{
	content: "Price: ";
	user-select: none;
}
#companyprice
{
	user-select: none;
	text-align: right;
}
#upgradecomp
{
	visibility: hidden;
	font-weight: 600;
	text-align: right;
	user-select: none;
	cursor: pointer;
}
#upgradecompprice
{
	visibility: hidden;
	text-align: right;
	user-select: none;
}
#upgradecompprice::before
{
	content: "Upgrade Price: ";
	user-select: none;
}
#companyname::before
{
	content: "Company: ";
	user-select: none;
}
#companyincome::before
{
	content: "Company Income Per Second: ";
	user-select: none;
}
#companyattr
{
	user-select: none;
	text-align: right;
}
#companyname
{
	text-align: right;
}